/* Botones */

.boton-contenedor{
  height: 70px;
  padding: 2px;
  margin: 4px;
  font-size: 35px;
  display: flex;
  flex: 1 1;
  justify-content:center;
  align-items: center;
  font-weight: bold;
  border-radius: 15px;
  border: 1px solid black;
  cursor: pointer;
  user-select: none; 
}

.boton-operador{
  background-color: rgb(80, 79, 79);
}
.boton-contenedor:hover{
  background-color: rgb(80, 79, 79, .3);
  transform: rotate(2deg);
}

.boton-numero{
  background-color: rgb(246, 245, 217);

}
.boton-numero:hover{
  background-color: rgb(246, 245, 217, .3);
  transform: rotate(2deg);
}