/* Estilos Pantalla*/

.input{
  height: 70px;  
  width: 100%;
  border-radius: 15px;
  margin-bottom: 8px;
  padding: 5px;
  padding-right: 10px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-weight: bold;
  font-size: 2rem;
  color: black;
  background-color: rgba(0, 128, 0, 0.8);
  border: 2px solid black;
}